<div class="center hero-unit">
  <h1>Welcome to Rudy on Rail's Calendar App</h1>

  <h2>
    by Khoa Bui,
    
  </h2>

 <% if signed_in? %>
 <%= link_to "Create an Event now! ", '/create', class: "btn btn-large btn-primary" %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  
 <%= link_to "All Current Events! ", '/index', class: "btn btn-large btn-primary" %>
 
 
 <% else %>
  <%= link_to "Sign up now! ", signup_path, class: "btn btn-large btn-primary" %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= link_to "Login!", '/signin', class: "btn btn-large btn-primary" %>
  <% end %>
</div>
 