<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
      
      
    </section>
    <section>
 
    </section>
     <section>
     <%= link_to "Create an Event now! ", '/create', class: "btn btn-large btn-primary" %>
  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
   
      </section>	
  </aside>
  
</div>