<% provide(:title, @event.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h2>
        
        
        
        <%= @event.name %>
        
        
        <%= @event.dayof%>
      </h2>
      
      
    </section>
     <section>
     	
      </section>	
  </aside>
</div>